* {
    font-family: system-ui;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2d3250;
}

header {
    background-color: #424769;
    padding: 2rem 4rem;
    text-align: center;
    color: white;
}

header ul {
    list-style: none;
    padding: 0;
    color: #b9b9b9;
}

header li:hover {
    color: #E7E7E7;
    cursor: pointer;
}

header a {
    color: inherit;
    text-decoration: none;
    font-style: normal;
    background: transparent;
}

header img {
    width: 25%;
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

header h1 {
    color: #F9B17A;
    text-align: center;
    margin-bottom: 10px;
}

/* Main Styling */
main {

    width: 80%;
    margin: 3rem auto;
}

main section {
    margin-bottom: 3rem;
    background: #424769;
    padding: 2rem 10%;
    border-radius: 10px;
    color: white;
}

main h2 {

    margin-bottom: 1rem;
}

main p,
main li {
    max-width: 80ch;
    color: #b9b9b9;
}

main ul {
    list-style: none;
    padding-left: 10px;
}


